<header class="header">
  <nav class="navbar">
      <a class="navbar-brand" href="{{@root.site.url}}">
        <img src="{{{uiRootPath}}}/img/gcc_horz_white.svg" alt="Georgia Cyber Center" />
      </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="#">Home</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Projects</a>
          <div class="navbar-dropdown">
            <div class="navbar-item"><strong>Kinetic</strong></div>
            <a class="navbar-item" href="https://github.com/GeorgiaCyber/kinetic">Repository</a>
            <a class="navbar-item" href="https://github.com/GeorgiaCyber/kinetic/issues">Issues Tracker</a>
            <hr class="navbar-divider">
            <div class="navbar-item"><strong>Kinetic Pillar</strong></div>
            <a class="navbar-item" href="https://github.com/GeorgiaCyber/kinetic-pillar">Repository</a>
            <a class="navbar-item" href="https://github.com/GeorgiaCyber/kinetic-pillar/issues">Issues Tracker</a>
            <hr class="navbar-divider">
            {{!-- <div class="navbar-item"><strong>Image Bakery</strong></div>
            <a class="navbar-item" href="https://gitlab.com/gacybercenter/image-bakery">Repository</a>
            <a class="navbar-item" href="https://gitlab.com/gacybercenter/image-bakery/-/issues">Issues Tracker</a>
            <hr class="navbar-divider"> --}}
            <a class="navbar-item" href="https://gitlab.com/antora/antora/blob/master/contributing.adoc">Contributing</a>        
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Resources</a>
          <div class="navbar-dropdown">
          <div class="navbar-item"><strong>GCR</strong></div>
            <a class="navbar-item" href="https://dashboard.gacyberrange.org/">Dashboard</a>
          </div>
        </div>
        {{!-- <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Resources</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="#">Resource A</a>
            <a class="navbar-item" href="#">Resource B</a>
            <a class="navbar-item" href="#">Resource C</a>
          </div>
        </div> --}}
        {{!-- <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="#">GitHub</a>
          </span>
        </div> --}}
      </div>
    </div>
  </nav>
</header>
