.footer {
  background-color: var(--color-footer-bg);
  color: var(--color-footer-text);
  padding: 2.5rem 0;
  position: relative;
  z-index: var(--z-index-footer);
  box-shadow: 0 0 10px -5px #999;
}

.footer a {
  color: inherit;
  position: relative;
  text-decoration: none;
}

.footer a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: var(--color-footer-text-alt);
  transform: scale3d(0, 0.9999, 0.9999);
  transition: transform 0.3s;
}

.footer .footer-logo a.icon::after {
  content: none;
}

.footer a:focus::after,
.footer a:hover::after {
  transform: scale3d(1, 0.9999, 0.9999);
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  max-width: 73.75rem;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.footer-links .col {
  flex-basis: 100%;
  padding-top: 0.625rem;
}

.footer-links .col:nth-child(1) {
  flex-basis: 100%;
  padding: 0 0 1.25rem;
}

.footer-logo {
  padding: 1rem 0;
  width: 250px;
}

.footer-logo img {
  width: 100%;
  vertical-align: top;
}

.footer-links p.address {
  font-weight: var(--weight-light);
  margin: 0;
  white-space: pre-wrap;
}

.footer-links a.white-btn {
  background-color: var(--color-footer-text);
  color: var(--color-footer-bg);
  margin: 1rem 0;
  display: inline-block;
  /* FIXME this should be max-height 52px */
  padding: 1rem 3.5rem;
  border: 2px solid var(--color-footer-text);
  font-weight: var(--weight-bold);
  font-size: 1.125rem;
  letter-spacing: -0.025em;
  position: relative;
  transition: background-color 0.3s, color 0.3s;
  float: left;
}

.footer-links a.white-btn:focus,
.footer-links a.white-btn:hover {
  background-color: var(--color-footer-bg);
  color: var(--color-footer-text);
}

.footer-links a.btn ~ a {
  display: inline-block;
  font-weight: var(--weight-bold);
  float: left;
  clear: left;
}

.footer-links ul {
  font-size: 0.875rem;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.footer-links li {
  padding: 0 1rem 0.625rem 0;
}

.footer-links li .heading {
  color: var(--color-footer-text);
  font-weight: var(--weight-bold);
}

.footer-links li .heading,
.footer-links li a {
  line-height: 1.7;
}

.footer-links li a {
  font-size: 0.8125rem;
}

.footer-links .social-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: -4px;
  flex-direction: column;
}

.footer-links .social-icons li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin-bottom: 1rem;
}

.footer-links .social-icons a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 0.5rem;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out;
}

.footer-terms {
  font-size: 0.875rem;
  line-height: 1;
  border-top: 1px solid var(--color-footer-text);
  padding: 2.125rem 0 0.3125rem;
  max-width: 71.25rem;
  margin: 0 auto;
  text-align: center;
}

.footer-terms span {
  display: block;
}

.footer-terms a {
  font-weight: var(--weight-light);
  display: inline-block;
  margin: 0.625rem 0.3125rem;
}

.footer-terms-links a {
  font-weight: var(--weight-bold);
}

/* Responsive css */

@media screen and (min-width: 768px) {
  .footer-links .col {
    flex-basis: 24%;
  }

  .footer-links .col:nth-child(1) {
    flex-basis: 100%;
  }

  .footer-links li {
    padding-bottom: 0.5rem;
  }

  .footer-terms span {
    display: inline-block;
    margin-right: 0.5rem;
  }

  .footer-terms a {
    display: inline-block;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  footer.footer {
    padding: 1rem 0 1rem;
  }

  .footer-links {
    padding-top: 2rem;
  }

  .footer-links .col {
    flex-basis: calc((100% - 27%) / 4);
  }

  .footer-links .col:nth-child(1) {
    flex-basis: 27%;
    padding: 0 1.25rem;
  }

  .footer-links li a {
    font-size: inherit;
  }

  .footer-links .social-icons {
    justify-content: flex-end;
    padding-right: 0.75rem;
  }

  .footer-terms span {
    margin-left: 0.125rem;
  }
}
